body {
  background-image: url("bground.jpg");
  font-color: #330033;
  text-align: center;
  font-size: 16px;
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
}
table {
  margin-left:auto; 
  margin-right:auto; 
  width: 551px; 
  -webkit-user-select: none; 
}
td {
  height: 175px;
  width: 175px;
  text-align: center;
  font-size: 120px;
  border: 10px solid #cccccc;
  -webkit-border-radius: 10px;
}
.td:hover{
  background-color:#003333; 
 
}
#players {
  margin-left:auto; 
  margin-right:auto;
  padding: 20px 10px 10px 10px;
  width: 511px; 
  text-align: left;
}
#players > div {
  display: inline-block;
  padding-right: 25px;
  color: #FFFFFF;
  -webkit-transition-duration: 200ms;
}
.button {
  float: right;
}
.current-player {
  color: black !important;
  -webkit-transform: scale(1.5);
}
.X-marker {
  color: #6633CC;
}
.X-marker:before {
  content: "X";
}
.O-marker {
  color: #CC0066;
}
.O-marker:before {
  content: "O";
}
